body {
    margin: 0;
    font-family: "casablanca-urw", "tomarik-display", sans-serif;
    background-color: #F2F2F2;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-size: cover;
    background-position: center center;
}

.blur{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #F2F2F2cc;
}

.colonne1 {
    /* background-color: #f9d4afcc; */
}

.colonne1:hover {
    background-color: #59362ecc;
    transition: all 0.1s ease-in-out;
}

.Logo {
    width: 250px;
}

.colonne2 {
    /* background-color: #f9d4afcc; */
    font-size: 35px;
    padding: 40px 0;
    border-radius: 12px;
}

a.nav-item {
    text-decoration: none;
    font-size: 2rem;
    padding: 43px 16px;
    color: inherit;
    margin: 0 10px; /* Ajoute de la marge entre les liens */
}

a.nav-item:last-child {
    margin-right: 0; /* Enlève la marge à droite du dernier lien */
}

a.nav-item:first-child {
    margin-left: 0; /* Enlève la marge à gauche du premier lien */
}

.nav-item:hover {
    background-color: #59362ecc;
    color: white;
    transition: all 0.3s ease-in-out;
}

.colonne3 {
    margin-left: 40px;
}

.colonne3 img:hover {
    background-color: #59362ecc;
    transition: all 0.3s ease-in-out;
}

.colonne3 img {
    width: 50px;
    height: 50px;
    /* background-color: #f9d4afcc; */
    padding: 10px;
}

.compte {
    height: 120px;
}

.panier {
    height: 120px;
    margin-left: 50px;
    margin-right: 10px;
}

.header {
    font-size: 40px;
    margin-top: 40px;
}

h1 {
    text-align: center;
    margin: 0%;
    font-size: 3rem;
    color: #F28729;
}

.métiers {
    display: flex;
    background-image: url(file:///C:/Users/belle/Documents/MDS/PARTIEL/Images/foret.jpg);
}

.bvm {
    border-radius: 5%;
    height: 350px;
    width: 500px;
    margin: 5%;
    margin-right: 50px;
    margin-bottom: 0%;
}

h2 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 0%;
    padding: 20px;
}

.logo2 {
    display: flex;
    justify-content: center;
    height: 200px;
}

.fond {
    background-color: #59362e;
}

.entreprise {
    background-color: #59362e;
    display: flex;
    justify-content: center;
}

.logo3 {
    height: 250px;
    margin: 30px;
}

.entreprise p {
    color: white;
    font-size: 18px;
    padding-top: 50px;
}

.entreprise2 {
    background-color: #59362e;
    display: flex;
    justify-content: center;
}

.entreprise2 img {
    height: 200px;
    margin: 30px;
}

.entreprise2 p {
    color: white;
    font-size: 12px;
    margin-top: 0%;
    text-align: center;
}

.fond2 h2 {
    background-color: white;
    display: flex;
    justify-content: center;
    color: black;
}

.footer {
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.footer img {
    height: 100px;
}
